{% extends 'base.html' %}
{% block content %}

<div class="nav">
  <div class="nav-left">
    <div class="nav-brand">
      <div class="nav-icon"><i class="ti ti-briefcase"></i></div>
      <div class="nav-name">JobTrack</div>
    </div>

    <div class="nav-links">
      <a class="nl on">Dashboard</a>
      <a class="nl" href="{% url 'add_job' %}">Add job</a>
    </div>
  </div>

  <div class="nav-right">
    <div class="avatar">{{ request.user.username|first|upper }}</div>
    <a href="{% url 'logout' %}" class="btn-g">Logout</a>
  </div>
</div>

<div class="pb">

  <div class="ph">
    <div>
      <div class="pt">My applications</div>
      <div class="ps">Tracking {{ jobs.count }} applications</div>
    </div>
  </div>

  <div class="jlist">
    {% for job in jobs %}
    <div class="jc">

      <div class="jc-left">
        <div class="jc-title">{{ job.title }}</div>
        <div class="jc-company">{{ job.company }}</div>

        <div class="jc-meta">
          <div class="meta">
            Deadline: {{ job.deadline }}
          </div>
        </div>
      </div>

      <div class="jc-actions">
        <a href="{% url 'edit_job' job.id %}" class="btn-edit">Edit</a>
        <a href="{% url 'delete_job' job.id %}" class="btn-del">Delete</a>
      </div>

    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}