{% extends 'base.html' %}
{% block content %}

<div class="auth-wrap">
  <div class="auth-card">
    <div class="auth-left-stripe"></div>
    <div class="auth-body">

      <div class="brand">
        <div class="brand-icon"><i class="ti ti-briefcase"></i></div>
        <div class="brand-name">Job<span>Track</span></div>
      </div>

      <div class="auth-title">Welcome back</div>
      <div class="auth-sub">Sign in to continue</div>

      <form method="POST">
        {% csrf_token %}

        <div class="fl">
          <div class="fg">
            <label>Username</label>
            <input type="text" name="username" required>
          </div>

          <div class="fg">
            <label>Password</label>
            <input type="password" name="password" required>
          </div>

          <button class="btn-p">Sign in</button>
        </div>
      </form>

      <div class="auth-foot">
        No account? <a href="{% url 'register' %}">Create one</a>
      </div>

    </div>
  </div>
</div>

{% endblock %}