{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Job Tracker</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Fraunces:wght@600;700&display=swap" rel="stylesheet">
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>